<div ng-show="showError" class="has-error">There was an error fetching this post, please try again later (err: 0004)</div>
<div ng-show="deleteError" class="has-error">There was an error deleting this post, please try again later (err: 0005)</div>	  

<h4 class="post-date">{{ post.timestamp | timestampToDate }}</h4>
<h3 class="post-number">{{ post.title }}</h3>
<p class="post-text">{{ post.text }}</p>

<div>
	<a ng-click="editPost(post.id)" class="btn btn-small btn-primary">Edit</a>
	<a ng-click="deletePost(post.id)" class="btn btn-small btn-danger">Delete</a>
</div>
